# MacOS
.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcworkspace/
project.xcworkspace/
xcuserdata/
Credentials.xcconfig

# CocoaPods
Pods/
gen/
Podfile.lock

# Firebase App Check Example
**/GoogleService-Info.plist
