name: integration_tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:

  swift-button-functional-test:
    runs-on: macOS-12
    # Don't run if triggered by a PR from a fork since our Secrets won't be provided to the runner.
    if: "!github.event.pull_request.head.repo.fork"
    defaults:
      run:
        working-directory: Samples/Swift/DaysUntilBirthday
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Build test target for Google Sign-in button for Swift
      run: |
        xcodebuild \
          -project DaysUntilBirthday.xcodeproj \
          build-for-testing \
          -scheme DaysUntilBirthday\ \(iOS\) \
          -sdk iphonesimulator \
          -destination 'platform=iOS Simulator,name=iPhone 11'
    - name: Run test target for Google Sign-in button for Swift
      env:
        EMAIL_SECRET : ${{ secrets.EMAIL_SECRET }}
        PASSWORD_SECRET : ${{ secrets.PASSWORD_SECRET }}
      run: |
        xcodebuild \
          -project DaysUntilBirthday.xcodeproj \
          test-without-building \
          -scheme DaysUntilBirthday\ \(iOS\) \
          -sdk iphonesimulator \
          -destination 'platform=iOS Simulator,name=iPhone 11' \
          EMAIL_SECRET=$EMAIL_SECRET \
          PASSWORD_SECRET=$PASSWORD_SECRET

  app-check-api-token-tests
    runs-on: macOS-12
    # Don't run if triggered by a PR from a fork since our Secrets won't be provided to the runner.
    if: "!github.event.pull_request.head.repo.fork"
    defaults:
      run:
        working-directory: Samples/Swift/AppAttestExample
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Build test target for App Check Example
      run: |
        xcodebuild \
          -project AppAttestExample.xcodeproj \
          build-for-testing \
          -scheme AppCheckExample \
          -sdk iphonesimulator \
          -destination 'platform=iOS Simulator,name=iPhone 11'
    - name: Run test target for App Check Example
      env:
        AppCheckDebugToken : ${{ secrets.AppCheckDebugToken }}
        APP_CHECK_WEB_API_KEY : ${{ secrets.APP_CHECK_WEB_API_KEY }}
      run: |
        xcodebuild \
          -project AppCheckExample.xcodeproj \
          test-without-building \
          -scheme AppCheckExample \
          -sdk iphonesimulator \
          -destination 'platform=iOS Simulator,name=iPhone 11' \
          AppCheckDebugToken=$AppCheckDebugToken \
          APP_CHECK_WEB_API_KEY=$APP_CHECK_WEB_API_KEY
