name: GSI Push Main Notification

on:
  push:
    branches:
      - main

jobs:
  notify-push-main:
    runs-on: ubuntu-latest
    steps:
    - name: Main Branch Push
      run: |
        echo "Workflow initiated by event with name: ${{ github.event_name }}"
        echo "Pushing commit to main: ${GITHUB_EVENT_HEAD_COMMIT_ID}"
        echo "Pushed by: ${GITHUB_EVENT_PUSHER_NAME}"
      env:
        GITHUB_EVENT_HEAD_COMMIT_ID: ${{ github.event.head_commit.id }}
        GITHUB_EVENT_PUSHER_NAME: ${{ github.event.pusher.name }}

    - name: Push Notification to Google Chat
      run: |
        curl --location --request POST '${{ secrets.WEBHOOK_URL }}' \
        --header 'Content-Type: application/json' \
        --data-raw '{
          "cards": [
            {
              "header": {
                "title": "Push to main branch",
                "subtitle": "${GITHUB_EVENT_HEAD_COMMIT_MESSAGE}"
              },
              "sections": [
                {
                  "widgets": [
                    {
                      "keyValue": {
                        "topLabel": "Repo",
                        "content": "${GITHUB_EVENT_REPOSITORY_FULL_NAME}"
                      }
                    },
                    {
                      "keyValue": {
                        "topLabel": "Committed by",
                        "content": "${GITHUB_EVENT_HEAD_COMMIT_AUTHOR_USERNAME}"
                      }
                    },
                    {
                      "buttons": [
                        {
                          "textButton": {
                            "text": "Ref comparison",
                            "onClick": {
                              "openLink": {
                                "url": "${GITHUB_EVENT_COMPARE}"
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }'
      env:
        GITHUB_EVENT_HEAD_COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
        GITHUB_EVENT_REPOSITORY_FULL_NAME: ${{ github.event.repository.full_name }}
        GITHUB_EVENT_HEAD_COMMIT_AUTHOR_USERNAME: ${{ github.event.head_commit.author.username }}
        GITHUB_EVENT_COMPARE: ${{ github.event.compare }}

